*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* utiliy style */

li{
    list-style: none;
}
body{
    overflow-x: hidden;
}

/* navigation bar */
#nav{
    font-size: .7rem;
}
#nav-1{
    font-size: x-small;
}
#bold{
    font-weight: bolder;
    font-size: 1rem;
}
#search{
    width: 30rem;
    height: 1.5rem;
    border: #ffff;
}
#search::placeholder{
    padding: 1rem;
    color: #C4C4C4;
    background-image: url(/home/Icon.svg);
    background-position: 28rem;
    background-repeat: no-repeat;
    background-size: .7rem;
}
#grey{
    background-color: #F5F5F3;
}
#line{
    height: .2rem;
    width: 1rem;
    background-color: black;
}
#black{
    height: .2rem;
    width: .6rem;
    background-color: black;
}
#category{
    color: #262626;
}
.shop{
    font-size: .7rem;
}

/* SHOWCASE */
#showcase{
     background-image: url(/home/Image-17.png); 
     background-size: 208vh 60vh;
     background-repeat: no-repeat;
     height: 60vh;
     
}
#btn{
    background-color: black;
    color: white;
}
#bar{
    height: 5rem;
    width: .2rem;
    background-color: #ffff;

}
#bar div{
    height: 1.5rem;
    width: .2rem;
    background-color: black;
}
#final{
    color: black;
    font-size: 1.5rem;
    font-family: DMSans-Bold;
}
#up{
    color: #6D6D6D;
    font-size: .7rem;
}
#up span{
    color: black;
    font-size: 1.5rem;
}
.asd{
    height: 60vh;
}
header{
    border-bottom: thin solid #F0F0F0;

}
#last{
    font-size: .7rem;
}
#bold{
    font-weight: bold;
    font-size: 1.5rem;
}