@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #262626;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: none;
    color: #262626;
}

li {
    list-style: none;
}

/* navigation bar */
#bold{
    font-weight: bold;
    font-size: 1rem;
}
#search{
    width: 30rem;
    /* height: 1.5rem; */
    border: #ffff;
}
#search::placeholder{
    padding: 1rem;
    color: #C4C4C4;
    background-image: url(../shop/search-solid.svg);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: .7rem;
}
#grey{
    background-color: #F5F5F3;
}
#line{
    height: .2rem;
    width: 1rem;
    background-color: black;
}
#black{
    height: .2rem;
    width: .6rem;
    background-color: black;
}
#category{
    color: #262626;
}
.shop{
    font-size: 14px;
}

/* Product */


#products{
    font-weight: 400;
}
#small{
    color: #767676;
}

/* Shop By Category */

#shopByCategory span{
 padding-left: 9rem;
}
.line{
    border-bottom: thin solid #f0f0f0;
    color: #767676;
}

/* Shop BY Color */
#path{
    padding-left: 6rem;
}
#color1{
    background-color: black;
}
#color2{
    background-color: #FF8686;
}
#color3{
    background-color: #7ED321;
}
#color4{
    background-color: #B6B6B6;
}
#color5{
    background-color: #15CBA5;
}
#shopByColor button{
    height: .5rem;
    width: .5rem;
    border: none;
}
/*ShopByBrand*/


/* Product gallery section */
#dropdowns {
    color: #767676;
}
#bestsellers .small {
    color: #767676;
}
#shopByBrand{
margin-top: 2rem;
margin-bottom: 2rem;
}

  
/* Bootstrap Utilities for the sections */
.pagination li a {
    color: #262626;
}
.pagination .one a {
    color: #ffffff;
    background-color: #262626;
}

.pull-left {
    float: left;
    color: #262626;
}
.pull-right {
    float: right;
    color: #767676;
}
.black {
    color: #767676;
}

/* Product grid */
.overlay-text {
    position: absolute;
    top: 10px;
    left: 25px;
    background: #262626;
}


/* Footer style */
#main_footer {
    background: #F5F5F3;
}
#main_footer li {
    color: #6D6D6D;
    line-height: 25px;
}

@media(max-width: 767px){
    nav li {
        text-align: center;
    }
    #search {
        width: 100%;
    }
}


