@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #262626;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: none;
    color: #262626;
}

li {
    list-style: none;
}
/* navigation bar */
#bold{
    font-weight: bold;
    font-size: 1rem;
}
#search{
    width: 30rem;
    /* height: 1.5rem; */
    border: #ffff;
}
#search::placeholder{
    padding: 1rem;
    color: #C4C4C4;
    background-image: url(../shop/search-solid.svg);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: .7rem;
}
#grey{
    background-color: #F5F5F3;
}
#line{
    height: .2rem;
    width: 1rem;
    background-color: black;
}
#black{
    height: .2rem;
    width: .6rem;
    background-color: black;
}
#category{
    color: #262626;
}
.shop{
    font-size: 14px;
}
/**/
/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
   
   

/* NAVIGATION HOVERING DROPDOWN */
.collapse ul {
    display: inline;
    margin: 0;
    padding: 0;
}
.collapse ul li {display: inline-block;}
.collapse ul li:hover ul {display: block;}
.collapse ul li ul {
    position: absolute;
    left: 78%;
    width: inherit;
    display: none;
}
.collapse ul li ul li { 
    display: block; 
}
.collapse ul li ul li a {display:block !important;} 

.white-btn {
    background-color: #ffffff;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
.black-btn {
    padding-left: 3.5rem;
    padding-right: 2.7rem;
}

/* Footer style */
#main_footer {
    background: #F5F5F3;
}
#main_footer li {
    color: #6D6D6D;
    line-height: 25px;
}

@media(max-width: 767px){
    nav li {
        text-align: center;
    }
    #search {
        width: 100%;
    }
}