@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #262626;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: none;
    color: #262626;
}

li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: DMSans-Bold;
}

/* navigation bar */
#bold{
    font-weight: bolder;
    font-size: 1rem;
}
#search{
    width: 30rem;
    /* height: 1.5rem; */
    border: #ffff;
}
#search::placeholder{
    padding: 1rem;
    color: #C4C4C4;
    background-image: url(../shop/search-solid.svg);
    background-position: 28rem;
    background-repeat: no-repeat;
    background-size: .7rem;
}
#grey{
    background-color: #F5F5F3;
}
#line{
    height: .2rem;
    width: 1rem;
    background-color: black;
}
#black{
    height: .2rem;
    width: .6rem;
    background-color: black;
}
#category{
    color: #262626;
}
.shop{
    font-size: 14px;
}
/* Header */
#Header span{
font-size: .5rem;
color: #6D6D6D;
}
/* Journal body */

.category{
    color: #262626;
    font-size: .8rem;
}
#lorem{
    font-size: .7rem;
    color: #767676;
}
.lorem{
    color: #262626;
    font-weight: 500;
}
#button{
    color: #FFFF;
    background: #262626;
    font-size: .7rem;
}
#text{
    border: none;
    border-bottom: thin solid #F0F0F0;
    width: 21rem;
    padding-bottom: .3rem;
}
#text::placeholder{
    color: #767676;
    font-size: .7rem;
    background-image: url(../shop/search-solid.svg);
    background-position: 20rem;
    background-repeat: no-repeat;
    background-size: .7rem;
}

#list li, #may, #categories li, #meta li{
    font-size: .6rem;
    list-style: disc;
    border-bottom: thin solid #F0F0F0;
    list-style-position: inside;
}
#list span{
    color: #767676;
}
#tags button{
    color: #FFFF;
    background-color: #262626;
    font-size: .5rem;
}

/* Footer style */
#main_footer {
    background: #F5F5F3;
}
#main_footer li {
    color: #6D6D6D;
    line-height: 25px;
}