@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #262626;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: none;
    color: #262626;
}

li {
    list-style: none;
}


/* navigation bar */
#bold{
    font-weight: bold;
}
#search{
    width: 30rem;
    /* height: 1.5rem; */
    border: #ffff;
}
#search::placeholder{
    padding: 1rem;
    color: #C4C4C4;
    background-image: url(../shop/search-solid.svg);
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: .7rem;
}
#grey{
    background-color: #F5F5F3;
}
#line{
    height: .2rem;
    width: 1rem;
    background-color: black;
}
#black{
    height: .2rem;
    width: .6rem;
    background-color: black;
}
#category{
    color: #262626;
}

/* NAVIGATION HOVERING DROPDOWN */
.drop ul {
    display: inline;
    margin: 0;
    padding: 0;
}
.drop ul li {display: inline-block;}
.drop ul li:hover ul {display: block;}
.drop ul li ul {
    position: absolute;
    left: 80%;
    width: inherit;
    display: none;
}
.drop ul li ul li { 
    display: block; 
}
.drop ul li ul li a {display:block !important;} 

.white-btn {
    background-color: #ffffff;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
.black-btn {
    padding-left: 3.5rem;
    padding-right: 2.7rem;
}

/* Header */
#Header span{
color: #6D6D6D;
}
/* Journal body */

.category{
    color: #262626;
}
#lorem{
    color: #767676;
}
.lorem{
    color: #262626;
    font-weight: 500;
}
#button{
    color: #FFFF;
    background: #262626;
}
#text{
    border: none;
    border-bottom: thin solid #F0F0F0;
    width: 21rem;
    padding-bottom: .3rem;
}
#text::placeholder{
    color: #767676;
    font-size: .7rem;
    background-image: url(../shop/search-solid.svg);
    background-position: 20rem;
    background-repeat: no-repeat;
    background-size: .7rem;
}

#list li, #may, #categories li, #meta li{
    list-style: disc;
    border-bottom: thin solid #F0F0F0;
    list-style-position: inside;
}
#list span{
    color: #767676;
}
#tags button{
    color: #FFFF;
    background-color: #262626;
}

/* Footer style */
#main_footer {
    background: #F5F5F3;
}
#main_footer li {
    color: #6D6D6D;
    line-height: 25px;
}

@media(max-width: 767px){
    nav li {
        text-align: center;
    }
    #search {
        width: 100%;
    }
    .drop ul li ul {
        position: absolute;
        left: 55%;
        width: inherit;
        display: none;
    }
}